<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Manual</title>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/manual.css">
</head>
<body>

<div class="container">
    <header class="text-center mt-5 mb-4">
        <h1><b>User Manual</b></h1>
    </header>

    <div class="instruction">
        <h2>Welcome to the <b>Virtual Calculator</b> User Manual!</h2>
        <h3>To operate the virtual calculator:</h3>
        <h3><i>We Need Gestures/Symbols</i></h3>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                
                        <h3 class="card-title">Gestures for Numbers 1 to 9</h3>
                        <img src="../static/1.JPG" alt="Numbers 1 to 9" class="img-fluid gesture-img">
            </div>
            </div>
            <div class="col-md-6">
                        <h3 class="card-title">Gestures for Operations</h3>
                        <img src="../static/2.JPG" alt="Math symbols" class="img-fluid gesture-img">
                    
    
            </div>
        </div>
    </div>
    
    


        <ul>
            <h2>><li>Click on START Button on display in the Front Page</li></h2>
            <div class = "front-start text-center">
            <img src = ../static/3.JPG alt = " Start Button">
            </div>
           <h2><li> Gesture the Numbers and Operations that you wish to perform</li></h2>
            <h2><li> Once, you perform the gestures the result of calculation is displayed</li></h2>
        </ul>
    </div>

    
<footer class="text-center mt-5">
    <a href="index.html" class="btn btn-primary mt-3">Go to Another Page</a>
</footer>

<!-- Bootstrap link js-->
<script src =" https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
