<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Manual</title>
    <link rel="stylesheet" href="../static/manual.css">
</head>
<body>

<div class="container">
    <h1>User Manual</h1>

    <div class="instruction">
        <h2>How to Use</h2>
        <p>Welcome to the Virtual Calculator User Manual!</p>
        <p>To operate the virtual calculator:</p>
        <ul>
            <li>Tap on the numbers to input digits.</li>
            <li>Use the provided symbols for addition (+), subtraction (-), multiplication (*), and division (/).</li>
            <li>Calculate as you would with a physical calculator.</li>
        </ul>
    </div>
    <a class="align-right"  href="index.html">Go to Another Page</a>

    <div class="gesture-icons">
        <img src="../static/1.JPG" alt="Numbers 1 to 9">
        <img src="../static/2.JPG" alt="Math symbols + - / *">
    </div>
</div>

</body>
</html>
